**/bin/
**/obj/
**/node_modules/
**/dist/
.env
.idea/
.vs/
.vscode/
*.user
*.suo

# Configurações locais do .NET
**/appsettings.json
**/appsettings.*.json

# Templates que podem ser versionados
!**/appsettings.example.json
!**/appsettings.*.example.json
